.auth-container {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.auth-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
